---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allProjects = await getCollection("projects");
const sortedProjects = allProjects.sort((a, b) => 
  new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const pageTitle = "Projects";
---
<Layout pageTitle={pageTitle}>
    <h2 class="center">Programs</h2>
    <ul role="list" class="link-card-grid">
        {sortedProjects.map((project) => (
            <Card 
                url={`/projects/${project.slug}/`} 
                image={project.data.image.url} 
                title={project.data.title} 
                body={project.data.description}
            />
        ))}
    </ul>
</Layout>

<style>
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>