---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.title}</h2>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <p>{frontmatter.description}</p>
    <ul>
        <li><strong>Platform:</strong> {frontmatter.platform}</li>
        <li><strong>Stack:</strong> {frontmatter.stack}</li>
        <li><strong>GitHub:</strong> <a href={frontmatter.github} target="_blank">{frontmatter.github}</a></li>
    </ul>
    <slot />
</BaseLayout>