---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.title}</h2>
    <div class="project-image-container">
        <img class="project-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
    <p>{frontmatter.description}</p>
    <ul>
        <li><strong>Platform:</strong> {frontmatter.platform}</li>
        <li><strong>Stack:</strong> {frontmatter.stack}</li>
        <li><strong>GitHub:</strong> <a href={frontmatter.github} target="_blank">{frontmatter.github}</a></li>
    </ul>
    <slot />
</BaseLayout>

<style>
    .project-image-container {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
    .project-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>