---
import BaseLayout from './Layout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.title}</h2>
    <div class="project-image-container">
        <img class="project-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
    <p>{frontmatter.description}</p>
    <ul>
        <li><strong>Model Type:</strong> {frontmatter.modelType}</li>
        <li><strong>Software:</strong> {frontmatter.software}</li>
        {frontmatter.sketchfabLink && (
            <li><strong>Sketchfab:</strong> <a href={frontmatter.sketchfabLink} target="_blank">View on Sketchfab</a></li>
        )}
    </ul>
    <slot />
</BaseLayout>

<style>
    .project-image-container {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
    .project-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>